/Bananas.class
/BigEnemy.class
/Boss.class
/Box.class
/BulletEnemy.class
/Couplet.class
/Enemy.class
/EnemyBullet.class
/Floor.class
/Monkey.class
/Monkeyrole.class
/MyWorld.class
/Obstacle.class
/PickRoles.class
/Pig.class
/Pigrole.class
/Player.class
/Rice.class
/Sandy.class
/Sandyrole.class
/Scenario1.class
/Scripture.class
/Shelf.class
/SingletonBags.class
/SmallEnemy.class
/WorldSwapWorld.class
/bricks.class
/cloud.class
/fire.class
/items.class
/longBricks.class
/roleChoice.class
/tang.class
/updownCloud.class
/user1.class
/user2.class
/Bullet.class
/Context.class
/Alligator.class
/BulletFromEnemy.class
/Factory.class
/FireAll.class
/FireOnce.class
/HealthNormal.class
/FireTwice.class
/IState.class
/IWorldSwapWorld.class
/longBrick.class
/HealthPower.class
/IStrategy.class
/IUserSwapWorld.class
/Kekda.class
/King.class
/Mac.class
/introduction.class
/Macrole.class
/Pina.class
/Pinarole.class
/Sierrarole.class
/SimpleTimer.class
/Scenario.class
/Sierra.class
/User1.class
/User2.class
